body{
    background-color: khaki;
}
#box1{
    width: 25vw;
    height: 20vh;
    background-color: indianred;
    transition:
    background-color 2s,
    rotate 2s;
}


#box2{
    width: 25vw;
    height:20vh;
    position: relative;
    background-color: orangered;
    animation-name: box2move;
    animation-duration: 8s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}

@keyframes box2move{
0%{
    translate: -50vw 0;
}

25%{
    translate: 80vw 0;
}


100%{
    translate: 0 0;
}
}

#box1:hover{
    background-color:lightskyblue;
    rotate: 25deg;
}