/*General page styles*/
body {
    margin: 0;
}

html {
    font-family: 'Helvetica neue', Arial, 'sans serif';
    background-color: #ccc;
    font-size: 10px; 
}

/*Card Container styles*/
.card {
    width: 35em;
    height: 22em;
    margin: 5em auto;
    background-color: red;
    border: 0.2em solid black;
    border-radius: 1.5em;
}

/*Header & footer styles*/
.card header {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.1));
    border-radius: 0 0 1.5em 1.5em;
}

.card footer {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0));
    border-radius: 1.5em 1.5em 0 0;
}

.card header, .card footer {
    height: 5em; 
    padding: 1em; 
    box-sizing: border-box; 
}

/*Main Business Content styles*/
.card article img {
    max-height: 100%;
    float: right;
    height: 12em; 
    background-color: rgba(0, 0, 0, 0.5); 
}

.card article {
    color: #f0f0f0; 
    padding-left: 1em; 
    height: 12em; 
    line-height: 1.5em; 
}

 

h2, p {

    margin: 0;
}

h2{
    font-size: 2em; 
    line-height: 1.5em; 
}

footer p{
    font-size: 1.5em; 
    line-height: 1.5em; 
}



/*sages card styles*/
.sage_card {
    width: 35em;
    height: 22em;
    margin: 5em auto;
    background-color: rgb(0, 110, 0);
    border: 0.2em solid black;
    border-radius: 1.5em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
/*Header & footer styles*/
.sage_card header {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgb(8, 255, 28));
    border-radius: 0 0 0.5em 0.5em;
}

.sage_card footer {
    background-image: linear-gradient(to bottom, rgb(0, 255, 0), rgba(0, 0, 0, 0));
    border-radius: 0.5em 0.5em 0 0;
}

.sage_card header, .card footer {
    height: 5em;
    padding: 1em; 
    box-sizing: border-box; 
}

/*Main Business Content styles*/
.sage_card article img {
    max-height: 100%;
    float: right;
    height: 12em; 
    background-color: rgba(0, 0, 0, 0.5); 
}

.sage_card article {
    color: #f0f0f0; 
    padding-left: 1em;
    height: 12em; 
    line-height: 1.5em; 
}
