* {
  box-sizing: border-box;
}

/* Add a gray background color with some padding */
body {
  font-family: Arial;
  padding: 20px;
  background-image: url(imgs/milky-way-starry-sky-night-sky-star-956981.jpeg);
}


/* Header/Blog Title */
.header {
  padding: 30px;
  font-size: 40px;
  text-align: center;
  background: white;
  background-image: url(imgs/Mars.gif);
  background-size:cover;
  background-position: center;
}

/* Create two unequal columns that floats next to each other */
/* Left column */
.contentColumn {   
  float: left;
  width: 100%;
}

/* Fake image */
.fakeimg {
  background-color: #aaa;
  width: 100%;
  padding: 20px;
}

/* Add a card effect for articles */
.card {
   background: linear-gradient(#930000, #0161a1, #400051);
   padding: 20px;
   margin-top: 20px;
   border-style: solid;
   border-width: 5px;
   border-color: black;
   color: white;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Footer */
.footer {
  padding: 20px;
  text-align: center;
  background: #ddd;
  margin-top: 20px;
}



/* SideBar Css Code */

.sidepanel  {
  width: 0; /* Start hidden */
  height: 100%; /* Full height */
  position: sticky; /* Keep sticky position */
  z-index: 1; /* On top of other content */
  top: 0; /* Align to the top */
  left: 0; /* Align to the left */
  background-color: #111; /* Background color */
  overflow-x: hidden; /* Hide horizontal overflow */
  transition: 0.3s; /* Smooth transition */
}

.sidepanel a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 15px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidepanel a:hover {
  color: #f1f1f1;
}

.sidepanel .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
}

.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #111;
  color: white;
  padding: 10px 15px;
  border: none;
  position: sticky;
  top: 0;
}

.openbtn:hover {
  background-color:#444;
}

h2 {
  text-align: center;
  margin-top: 0%;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 1500px) {
  .contentColumn {   
    width: 100%;
    padding: 0;
  }
}

@media screen and (min-width: 400px) {
  .contentColumn {   
    width: 100%;
    padding: 0;
  }
}