* {
  box-sizing: border-box;
}

/* Add a gray background color with some padding */
body {
  font-family: Arial;
  padding: 20px;
  background-image: url(imgs/milky-way-starry-sky-night-sky-star-956981.jpeg);
}


/* Header/Blog Title */
.header {
  padding: 30px;
  font-size: 40px;
  text-align: center;
  color: white;
  background-image: url(imgs/Mars.gif);
  background-size:cover;
  background-position: center;
}

h2 {
  text-decoration: underline;
}

/* column */
.contentColumn {   
  float: left;
  width: 100%;
}

/* Add a card effect */
.card {
   background: linear-gradient(#930000, #0161a1, #400051);
   padding: 20px;
   margin-top: 20px;
   border-style: solid;
   border-width: 5px;
   border-color: black;
   color: white;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Footer */
.footer {
  padding: 20px;
  text-align: center;
  background: #ddd;
  margin-top: 20px;
}

/* Click to GIF styles */
.click-to-gif img {
    display: block;
}

.click-to-gif input[type=checkbox] {
    position: absolute;
    left: -100vw; /* Hide checkbox off-screen */
}

@media (prefers-reduced-motion: reduce) {
    label.click-to-gif {
        display: block;
        float: left;
        background: DimGrey no-repeat center center;
        background-image: url('data:image/svg+xml;...fill="LightGrey"/>');
    }
    .click-to-gif:hover, .click-to-gif:focus-within {
        background: DarkSlateGrey no-repeat center center;
        background-image: url('data:image/svg+xml;...fill="MediumSeaGreen"/></svg>');
    }
    .click-to-gif input[type=checkbox] + img {
        opacity: 0; /* Hide image by default */
    }
    .click-to-gif input[type=checkbox]:checked + img {
        opacity: 1; /* Show image when checkbox is checked */
    }
}


/* SideBar Css Code */

.sidepanel  {
  width: 0; /* Start hidden */
  height: 100%; /* Full height */
  position: sticky; /* Keep sticky position */
  z-index: 1; /* On top of other content */
  top: 0; /* Align to the top */
  left: 0; /* Align to the left */
  background-color: #111; /* Background color */
  overflow-x: hidden; /* Hide horizontal overflow */
  transition: 0.3s; /* Smooth transition */
}

.sidepanel a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 15px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidepanel a:hover {
  color: #f1f1f1;
}

.sidepanel .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
}

.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #111;
  color: white;
  padding: 10px 15px;
  border: none;
  position: sticky;
  top: 0;
}

.openbtn:hover {
  background-color:#444;
}

h2 {
  text-align: center;
  margin-top: 0%;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 1500px) {
  .contentColumn {   
    width: 100%;
    padding: 0;
  }
}

@media screen and (min-width: 400px) {
  .contentColumn {   
    width: 100%;
    padding: 0;
  }
}


/* New styles for button and GIF */
.click-to-gif img {display: block;}
.click-to-gif input[type=checkbox] {
  position: absolute;
  left: -100vw;
}
 
@keyframes fadeIn {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}

.click-to-gif input[type=checkbox] {
  position: absolute;
  left: -100vw; /* Hide checkbox off-screen */
}

.click-to-gif input[type=checkbox]:checked + img {
  animation: fadeIn 10s forwards; /* Play animation when checked */
}

.click-to-gif input[type=checkbox]:checked + img + audio {
  display: block; /* Show audio element */
}